/* stile di pagina */


*{
    font-family:"Source Serif 4", serif; ;
}


/* BACKGROUND sfondo COLORE + IMMAGINE */
body {
    margin: 0;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.2)
    ),  url("./media/sfndo.jpg");

    background-size: cover;
    /* Ti permette a fissare sfondo e contenuto allo 'scroll' */
    background-attachment: fixed;
    background-position: center;
}

/* __________________________________________________________________________________________

            /* HEADER */
     .intestazione { 
        position: relative;
        display: flex;
        flex-direction: column;
        /* Li metto tutti allineati al centro dell'asse trasversale. */
        align-items: center;
        justify-content: center;
        /* Padding aggiunge lo spazio dentro l'elemento così non rimnga attaccato ai bordi. */
        padding: 8px 20px;
        background: linear-gradient(rgba(0,0,0, 0.6), rgba(0,0,0,0.6)),url("./media/header.jpg") center/cover no-repeat;
        position: static;
        top: 0;
        
}


.intestazione h2 {
    margin:0;
    position: absolute;
    top: 30%;
    left: 50%;
    color: yellow;
    transform: translate(-50%,-50%);
    font-size: 4rem;
}

.ImmagineHero {

justify-content: space-between; 
    color: yellow;
    /* transform: translate(); */
 
    text-decoration: none;
}




/* NAV PER LA NAVIGAZIONE */
nav {
 
color:whitesmoke;
display: flex;
justify-content: space-between;
/* permette di controllare allineamento ( in : Asse orizzontale - X) */
align-items: center;
 padding: 15px 30px;
background-color: rgb(81, 102, 95);
position: relative;
}
.logoAulab {
    width: 60px;
    border-radius: 8px;
}
/* Come da traccia richiesto, LINK ALLINEATI IN NAVBAR */
/* LISTA UL ORIZZONTALE */
nav ul {
background-color: rgba(165, 42, 42, 0.171);
color: yellowgreen;
/* Display-flex: dispongo in modo da allineare, meglio gestisco poi, lo spazio.  */
/* DISPOSTO IN MODO ORIZZONTALE. */
display:flex;
/* Personalizzo i punti elenco con list-style */
 list-style: none;
 gap:16px;
 scroll-padding-block-end: inherit;
        
}



nav a {
    /* Creo una cornice al elemento( aggiungo del bordo [SOLO A PARTE INFERIORE- CON BOTTON] ) */
    border-bottom: 3px solid transparent;
    color: rgba(183, 90, 183, 0.742);
    text-decoration: none;
    padding: 5px 10px;
    /* Traccia richiede inserzione di bordo  */
    background-color: rgba(19, 17, 17, 0.306);
    /* Aggiungo transition per rendere i cambiamenti + fluidi */
    transition: 0.1s;
}


/* HOVER RICHIESTO DA TRACCIA - EFFETTO ARTISTICO */
nav a:hover {
    /* Appare se passo sopra con il mouse (con la prop. :hover) */
    border-bottom: 2px solid yellow;
    background-color: rgba(136, 47, 47, 0.6);
}

/* Titoli E FONT DIVERSI PER TITOLO E PAGINA */

h1{
    font-family: 'Roboto Serif';
    font-weight: 700;
    /* Immetto spazio tra i caratteri */
    letter-spacing: 9px;
    color: yellow;
    /* Gestisco allineamento Testo */
    text-align: left;
}

/* COLORI AI TITOLI, COLOR GIALLO */
 h2, h3, h4, h5{

    color: yellow;
}


p, a, button {
    font-family: "Roboto Serif", serif;
    /* Regola spessore del testo */
    font-weight: 400;
}



.articles {
text-align: center;
font-weight: bold;

}


/* _________________________________________________________________________________________________________ */
/* CARDS - 3 ARTICOLI */

.ReadArticles{
    width: 60%;
    /* Articoli In Linea */
    display: flex;
    gap:20px;
    justify-content: center;

    align-items: stretch;
    /* Orizzontalmente disposti */
    flex-wrap: nowrap;
}




/* CARD ARTICOLI */
.Article1, .Article2, .Article3 {
    width: 300px;
    background-color: #111;
    border-radius: 22px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.4);
    color: white;
   overflow: hidden;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}

/* HOVER SUGLI ARTICOLI  */
.Article1:hover,
.Article2:hover,
.Article3:hover {
    transform: translateY(-6px);
    box-shadow: 0 6px 25px rgba(0,0,0,0.6);
}

/*  IMMAGINI */
.Img-1, .Img-2,.Img-3   {
    width:300px;
    height: 300px;
    object-fit: cover;
   display: block;
   
}

/* DATA */
 .date {
    font-size: 13px;
    color: white;
    margin-left: 10px;
    margin-bottom: 8px;
}

/* Stili per titoli cards, paragrafo, e bottone */
.ReadArticles h3 {
     margin: 15px ;
    font-size: 20px;

}

/* TESTO PARAGRAFO COLORE E ALTRE PROPIETA' */
.ReadArticles p {
    font-size: 14px;
    line-height: 1.4;
    margin-left: 10px;
    color: purple;
    text-decoration: dotted;
}


.ReadArticles button {
     margin: 15px 0 20px 30px;
    padding: 10px 15px;
    background-color: #c2c285;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

/* EFFETTO A BOTTONE PER CARDS */
.ReadArticles button:hover {
    background-color: white;
}




/* Sezione con Aside e Immagine da seguire (EXTRA) */

#dump-section {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 60px;
    padding-bottom: 40px;
 color:blue;
     width: 350px;
    padding: 20px;
}

#last-card {
    background-color: rgb(104, 104, 81);
    width: 350px;
    padding: 20px;
}







/* FOOTER */
footer {
  margin-top: 100px;
    height: 30vh;
    align-items: center;
    color: white;
display: flex;
justify-content: space-around;
   background-color: rgba(38,38,38,0,0.744);
}




/* ____________________________________________________________________________________ */

/* TORNA SU, BOTTONE/IMG */

.back-to-top {
    position: fixed;
    bottom: 60px;
    right: 20px;

    z-index: 9999;
   /* per forza con z-index aggiungo: */
display: block;
/* Un azione blocco */
   background-color: aquamarine;

}


/* misura per BOTTONE//IMG IN BASSO A DESTRA. */
.back-to-top img {

    width: 30px;
    height: auto;
    display: block;
   
}

main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}




/* MEDIA QUERY */
/* Qui definiamo gli stili per uno schermo più piccolo ed adattarlo agli schermi */

@media (max-width: 767px) {

    .intestazione {
        flex-direction: column;
        gap: 10px;
        padding: 10px;
    }

    .intestazione img {
        width: 40px;
    }

    nav ul {
        flex-direction: column;
        gap: 5px;
    }

    nav a {
        font-size: 12px;
        padding: 4px 6px;
    }

   

      main {
        display: block; 
        /* articoli sopra, aside sotto */
    }

    .ReadArticles {
        width: 100%;
        flex-direction: column; 
        /* articoli uno sotto l'altro */
        align-items: center;
    }

    aside {
        width: 100%;
        margin-top: 30px;
    }
}




/* PER ANIMAZIONI CSS */
/* c'è anche animation-timing-function:linear esempoio come proprietà ad animare nel css  Olgtre animation per durata, ruota, durata di secondi e conta ad iterazione. */

/* aggiungere in parentesi bakgroundcolor, transform con rotate se vuoi o altro e i valori in parentesi con il deg - questo animazione 2 passaggi , primo su elemento voglio animare, secondo sull'animazione stessa */
@keyframes {
    0%()
    25%()
    100%()
}


/* con z-index come propietà serve sempre mettere una position che sia relative;  */




/* Piano di lavoro CSS: X->orizzontale / Y->Verticale  

Nel CSS Trasformiamo e Miglioriamo l'aspetto di Layout del nostro lavoro di pagina html che andiamo a fare; nel css; puoi inserire l'allineamento degli assi X e Y ;
E degli elementi tags che possono essere posizionati sull'asse direttamente o starne ai limitrofi. 
Quindi l'allinamneto, le spaziature, i dettagli di colore, e le sfumature sono dettagli importanti. Ma anche i FONT per la calligrafia del testo, ha molta rilevanza. 
Alcuni FONT , intesi come dimensione testo ed, o lo spessore, altri sono oinvece proprio lo stile applicato. 
Puoi spostare e regolare ombre; margini, spazi internmi esterni; o anche ridurli e raccogliere il design in alternativa per lavorare diretto sugli elementi.


*/